@import "bootswatch.less";
@import "bootstrap-editable.less";
// @import "bootstrap.less";

@rollCallBlue: #ebf5ff;

/*----------------------------
   Welcome Module
 -----------------------------*/
.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/stressed_linen.png) repeat;

  .xe {
    border-bottom: 0;
    cursor: pointer;
  }
}

#welcome-tip {
  position: fixed;
  top: 0;
  left: 0;
}

#welcome-title {
  font-size: @baseFontSize * 4;
  line-height: @baseLineHeight * 3.5;
  text-align: center;
  margin: 70px 80px 50px 80px;
  color: #f9f9f9;
}

#welcome-img {
  margin: 0 auto;
  height: 250px;
  background: url(../img/250x250.gif) no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
}

#btn-welcome-hide {
  position: absolute;
  left: 50%;
  bottom: 30px;

  height: 68px;
  width: 280px;
  margin-left: -140px;

  color: #ccc;
  border-radius: 30px;
  font-size: 28px;
  box-shadow: 6px 6px 20px #111;
  background-color: #0a0a0a;

  -webkit-transition: background-color 0.7s ease;
  -moz-transition: background-color 0.7s ease;
  -ms-transition: background-color 0.7s ease;
  -o-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease;
}

#btn-welcome-hide:hover {
  background-color: #191919;
}

.welcome-box {
  float: left;
  width: percentage(1/3);
  margin-top: 40px;

  font-size: @baseFontSize * 2.5;
  line-height: @baseLineHeight * 2.5;
  color: #ddd;
  text-align: center;

  .position {
    color: #666;
    font-weight: normal;
  }
}

/*----------------------------
   Common Style & Grid
 -----------------------------*/
@slimFont: "Helvetica Neue", "Segoe UI Light";

.wrapper {
  position: relative;
  padding: 40px 12px 10px;
  background-color: #fff;
  height: 500px;
  margin-top: 15px;

  border: 1px solid #ccc;
  .border-radius(4px);

  &.top {
    margin-top: 0;
  }
}

.wrapper-name {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 14px;
  font-family: @slimFont;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #000;
  .border-radius(4px 0 4px 0);
}

.modal-form-second-row {
  position: absolute;
  left: 500px;
  top: 70px;
}

#download-wrapper {
  height: 22px;
  padding: 6px 18px;
  display: none;
  a {
    text-decoration: underline;
  }
}

/*----------------------------
   Navbar
 -----------------------------*/
#global-prompt {
  padding-left: 0;
}

/*----------------------------
   Bootbox
 -----------------------------*/
.bootbox {
  .motion-title {
    font-size: @baseFontSize * 1.5;
    line-height: @baseLineHeight * 1.5;
    font-weight: bold;
  }
  .suspend-title {
    font-size: @baseFontSize * 1.75;
    font-weight: normal;
    text-align: center;
    line-height: @baseLineHeight * 2;
    color: @black;
  }
  .huge-number {
    font-size: @baseFontSize * 3;
    line-height: @baseFontSize * 4;
  }
  .btn {
    font-weight: bold;
    padding: 5px 20px;
  }
  form {
    margin-top: 20px;
  }
}

/*----------------------------
   Session Title
 -----------------------------*/
#navbar a {
  padding: 15px 0;
}

#navbar-prompt {
  cursor: pointer;
  border: none;
}

#committee {
  font-size: @baseFontSize * 1.25;
  margin-right: 20px;
}

#header-wrapper {
  color: #000;
  height: 60px;
  width: 940px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

#session-title {
  font-size: @baseFontSize * 1.75;
  padding: 18px 0 8px 0;
  text-overflow: ellipsis;
}

#session-id {
  margin-right: 16px;
  padding: 4px 10px;
  border: 1px solid #e3e3e3;
  .border-radius(5px);
}

/*----------------------------
   Timeline Module
 -----------------------------*/
#timeline-wrapper {
  //background-color: #ebf5ff;
}
#timeline {
  padding: 0 5px;
  .nav-header {
    font-size: @baseFontSize;
  }
}

/*----------------------------
   Current Activity Module
 -----------------------------*/
#main-activity-name {
  font-weight: bold;
}
#main-activity {
  text-align: center;
}

/*----------------------------
   Timer Module
 -----------------------------*/
#timer-wrapper {
  margin-top: 0 !important;
  height: 130px;
}

#global-timer {
  margin-top: 22px;
  font-size: 80px;
  font-family: @slimFont;
  text-align: center;
  color: #000;
}

.timer-warning {
  color: #f00;
}

#global-timer-append {
  position: absolute;
  bottom: 8px;
  right: 8px;
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
  letter-spacing: -1px;
}
/*----------------------------
   Statistics Module
 -----------------------------*/
#stats-wrapper {
  height: 170px;
}

.dl-stats {
  margin-top: 0;
  margin-bottom: 10px;
  > dt {
    line-height: @baseLineHeight * 1.6;
    width: @baseFontSize * 10;
  }
  > dd {
    font-size: @baseFontSize * 2;
    font-family: @monoFontFamily;
    line-height: @baseLineHeight * 1.6;
    margin-left: @baseFontSize * 11;
  }
}
/*----------------------------
   Control Module
 -----------------------------*/
#control-wrapper {
  clear: both;
  height: 100px;
  .btn {
    height: 40px;
    padding: 0 16px;
    color: #fff;
  }
}

/*----------------------------
   Modal: Initialization
 -----------------------------*/
#modal-init {
  width: 900px;
  margin-left: -450px;

  > .modal-body {
    max-height: 600px;
  }
}

#logfile-name {
  margin-top: 10px;
}

#logfile-content {
  width: 500px;
  height: 200px;
}

/*----------------------------
   Roll Call View
 -----------------------------*/
.roll-call-view {
  background-color: @rollCallBlue;
  .btn {
    width: 100px;
  }
}

/*----------------------------
   Speakers List View
 -----------------------------*/
.gsl-view, .mc-view, .umc-view {
  overflow: auto;
}

.highlight-country {
  font-size: 72px;
  line-height: 80px;
  color: #000;
  margin-bottom: 10px;
}

.pending-country-list {
  margin-top: 20px;
  > li {
    list-style: none;
    font-size: 28px;
    line-height: 32px;
  }
}

#sl-add-country {
  width: 120px;
}

#btn-gsl-next {
  margin: 0 0 10px 10px;
}

.badge-add {
  display: inline-block;
  padding: 0 9px;
  margin-left: 6px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0f82f5;
  .border-radius(9px);
}

/*----------------------------
   Motion View
 -----------------------------*/
.mc-title {
  font-size: @baseFontSize * 3;
  line-height: @baseLineHeight * 2.5;
  color: #000;
  margin: 20px 0;
}

.modal-motion {
  width: 780px;
  margin-left: -390px;

  .modal-body {
    padding: 0 40px;
  }
  .btn {
    font-weight: bold;
    padding: 5px 20px;
  }
}

.motion-item {
  font-size: @baseFontSize * 3;
  line-height: @baseLineHeight * 4;

  code {
    font-size: inherit;
    line-height: inherit;
  }
}

#btn-exit-mc, #btn-exit-umc {
  font-size: @baseFontSize;
  height: 36px;
  width: 160px;
}


/*----------------------------
   Voting View
 -----------------------------*/

.voting-list {
  text-align: left;
  font-size: @baseFontSize * 3;
  line-height: @baseLineHeight * 2.5;
  color: @gray;
  max-height: 280px;
  overflow-y: scroll;
  margin-top: 20px;
}

.vote-country {
  float: left;
  width: 240px;
  margin: 0 20px 0 40px;
}

.vote {
  float: left;
}

.voting {
  color: @blue;
}

.voted {
  color: @grayDarker;
  &.yes {
    color: @green;
  }
  &.no {
    color: @orange;
  }
  &.abstain {
    color: @purple;
  }
}

.btn-vote {
  width: @baseFontSize * 6.3;
}

#vote-wrapper {
  height: 170px;
  display: none;

  .dl-stats {
    &>dt {
      width: @baseFontSize * 8;
    }
    &>dd {
      margin-left: @baseFontSize * 10;
    }
  }
}
